<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside head">
    <%= render :partial => 'spree/shared/head' %>
    <%= favicon_link_tag "favicon.icon" %>
    <%= yield :head %>
  </head>

  <body class@="<%= @body_class %>" id="<%= @body_id || 'indexHomeBody' %>" data-hook="body">
    <div class="container">
      <%= render :partial => 'spree/shared/banner' %>

      <div id="mainWrapper">
        <div>
          <div class="nav-head-block first-block">
            <%= render :partial => 'spree/shared/logo' %>
          </div>
          <%#= render :partial => 'spree/shared/navigation_header' %>
          <div class="nav-head-block middle-block">
            <%= render :partial =>  'spree/shared/mini_nav' %>
            <%= render :partial => 'spree/shared/search_form' %>
          </div>
          <div class="nav-head-block last-block">
            <%#= render :partial => 'spree/shared/currency_selector' %>
            <%= render :partial => 'spree/shared/account_menu' %>
          </div>
        </div>

        <%= render :partial => 'spree/shared/breadcrumb' %>

        <% if @show_left_column %>
          <div class="nav-head-block" id="left">
            <%= render :partial => 'spree/shared/nav_left' %>
            <%= render :partial => 'spree/shared/main_designers_left' %>
            <%= render :partial => 'spree/shared/bestsellers_left' %>
          </div>
        <% end %>

        <div class="nav-head-block" id="<%= @show_left_column ? 'content' : 'content-large' %>">
          <%= flash_messages %>
          <%= yield %>
          <%= yield :templates %>
        </div>

        <%= render :partial => 'spree/home/why_buy' %>
        <%= render :partial => 'spree/shared/footer' %>
      </div>
    </div>

    <%= render :partial => 'spree/shared/google_analytics' %>
    <script>
      Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
    </script>
    <%= yield :scripts %>
  </body>
</html>
