  <div class="leftBoxContainer" id="categories" style="width: 220px">
    <div class="sidebox-header-left">
      <span class="leftBoxHeading" id="categoriesHeading">Main Designers:</span>
    </div>

    <div id="dsav">
      <ul id="dsmenu">
        <li class="expand">
          <a href="http://www.wholesalerun.com/accessories-c-46" title="Accessories">Accessories</a>
        </li>

        <li class="expand">
          <a href="http://www.wholesalerun.com/bags-c-1" title="Bags">Bags</a>
        </li>

        <li class="expand">
          <a href="http://www.wholesalerun.com/clothing-c-24" title="Clothing">Clothing</a>
        </li>

        <li class="expand">
          <a href="http://www.wholesalerun.com/cosmetics-c-527" title="Cosmetics">Cosmetics</a>
        </li>

        <li class="expand">
          <a href="http://www.wholesalerun.com/gear-jerseys-c-332" title="Gear Jerseys">Gear Jerseys</a>
        </li>

        <li class="expand">
          <a href="http://www.wholesalerun.com/jerseys-c-990" title="Jerseys">Jerseys</a>
        </li>

        <li class="expand">
          <a href="http://www.wholesalerun.com/jewelries-c-418" title="Jewelries">Jewelries</a>
        </li>

        <li class="expand">
          <a href="http://www.wholesalerun.com/shoes-c-307" title="Shoes">Shoes</a>
        </li>

        <li class="expand">
          <a href="http://www.wholesalerun.com/sports-caps-c-749" title="Sports Caps">Sports Caps</a>
        </li>

        <li class="expand">
          <a href="http://www.wholesalerun.com/watches-c-665" title="Watches">Watches</a>
        </li>

        <li class="expand">
          <a href="http://www.wholesalerun.com/wedding-special-occasion-c-612" title="Wedding &amp; Special Occasion">Wedding &amp; Special Occasion</a>
        </li>
      </ul>
    </div>
  </div>