<div class="banners" id="bannerThree">
  <a href="http://www.wholesalerun.com/free_shipping"><img alt="banner_top" height="28" src="imgs/free-shipping-on-wholesalerun.gif" title="wholesale designer products from china free shipping" width="992" /></a>
</div>
