<div>
  <a href="http://www.wholesalerun.com/" id="logo" name="logo"><img alt="WholesaleRun" height="50" src="includes/templates/classic/images/logo.gif" title=" WholesaleRun " width="208" /><span>WholesaleRun</span></a>
</div>
