<div class="w-uniHeader clearfix"><!--{{{-->
  <!-- product/shared_tbd/logo.html -->

  <div class="uniHeaderCont">
    <div class="widget uniHCtop" id="uniUtility"><!--{{{-->
      <div id="topNavWrapper"><!--{{{-->
        <ul class="topNavLeft"><!--{{{-->
          <li class="float-left home">
            <a class="strong" href="http://www.wholesalerun.com/">&nbsp;</a>
          </li>

          <li class="float-left currencies">
            <form action="http://www.wholesalerun.com/" id="currencies_form" method="get" name="currencies_form">
              <a class="current strong btn btn-mini dropdown-toggle" href="javascript:WHOLESALERUN.header_top_nav.update_currency('USD');">$USD<span class="caret"></span></a>

              <div class="menus dropdown-menu">
                <a class="no-repeat" href="javascript:WHOLESALERUN.header_top_nav.update_currency('CNY');">元&nbsp;&nbsp;CNY</a><a class="no-repeat" href="javascript:WHOLESALERUN.header_top_nav.update_currency('EUR');">€&nbsp;&nbsp;EUR</a><a class="no-repeat" href="javascript:WHOLESALERUN.header_top_nav.update_currency('GBP');">£&nbsp;&nbsp;GBP</a><a class="no-repeat" href="javascript:WHOLESALERUN.header_top_nav.update_currency('CAD');">$&nbsp;&nbsp;CAD</a><a class="no-repeat" href="javascript:WHOLESALERUN.header_top_nav.update_currency('AUD');">$&nbsp;&nbsp;AUD</a>
              </div><input name="language" type="hidden" value="en" /><input name="cPath" type="hidden" value="83" /><input name="products_id" type="hidden" value="64365" /><input name="main_page" type="hidden" value="product_info" /><input name="currency" type="hidden" />
            </form>
          </li>
        </ul><!--}}}-->
        <br class="clearBoth" />
      </div><!--}}}-->
      <script><!--{{{-->
      <![CDATA[
      WHOLESALERUN.header_top_nav = {
      _:$('#topNavWrapper'),
      init:function(){
      $('#topNavWrapper .languages,#topNavWrapper .currencies').hover(function(){
        $(this).addClass('active');
        $(this).find('.menus').width($(this).width());
      },function(){
        $(this).removeClass('active');
      });     
      },
      update_currency:function(code){
      var frm = this._.find('form[name="currencies_form"]');
      frm.find('input[name="currency"]').val(code);
      frm.submit();
      }
      };
      if(typeof($)=='function'){
      WHOLESALERUN.header_top_nav.init();
      }else{
      $(function(){
      WHOLESALERUN.header_top_nav.init();
      });
      }
      ]]>
      </script><!--}}}-->
    </div><!--}}}-->

    <ul class="widget uniHCmid" id="uniUserActionPanel"><!--{{{-->
      <li id="UAP-signIn">
        <a class="red" href="http://www.wholesalerun.com/login" rel="nofollow" title="Loing your WholesaleRun's account">Log In</a> <span class="seprator">|</span>
      </li>

      <li id="UAP-orders">&nbsp; <a href="http://www.wholesalerun.com/account" rel="nofollow" title="Go to your WholesaleRun's account">My Account</a> &nbsp;
      </li>

      <li class="header-span"><span class="seprator">|</span></li>

      <li id="UAP-help">
        <dl class="headerDropDown">
          <dt>
            <a href="http://www.wholesalerun.com/site_map">All Categories</a>
          </dt>

          <dd>
            <ul>
              <li>
                <a href="http://www.wholesalerun.com/accessories-c-46" title="wholesale designer Accessories, cheap designer Accessories from china">Accessories</a>
              </li>

              <li>
                <a href="http://www.wholesalerun.com/bags-c-1" title="wholesale designer Bags, cheap designer Bags from china">Bags</a>
              </li>

              <li>
                <a href="http://www.wholesalerun.com/clothing-c-24" title="wholesale designer Clothing, cheap designer Clothing from china">Clothing</a>
              </li>

              <li>
                <a href="http://www.wholesalerun.com/cosmetics-c-527" title="wholesale designer Cosmetics, cheap designer Cosmetics from china">Cosmetics</a>
              </li>

              <li>
                <a href="http://www.wholesalerun.com/gear-jerseys-c-332" title="wholesale designer Gear Jerseys, cheap designer Gear Jerseys from china">Gear Jerseys</a>
              </li>

              <li>
                <a href="http://www.wholesalerun.com/jerseys-c-990" title="wholesale designer Jerseys, cheap designer Jerseys from china">Jerseys</a>
              </li>

              <li>
                <a href="http://www.wholesalerun.com/jewelries-c-418" title="wholesale designer Jewelries, cheap designer Jewelries from china">Jewelries</a>
              </li>

              <li>
                <a href="http://www.wholesalerun.com/shoes-c-307" title="wholesale designer Shoes, cheap designer Shoes from china">Shoes</a>
              </li>

              <li>
                <a href="http://www.wholesalerun.com/sports-caps-c-749" title="wholesale designer Sports Caps, cheap designer Sports Caps from china">Sports Caps</a>
              </li>

              <li>
                <a href="http://www.wholesalerun.com/watches-c-665" title="wholesale designer Watches, cheap designer Watches from china">Watches</a>
              </li>

              <li>
                <a href="http://www.wholesalerun.com/wedding-special-occasion-c-612" title="wholesale designer Wedding &amp; Special Occasion, cheap designer Wedding &amp; Special Occasion from china">Wedding &amp; Special Occasion</a>
              </li>
            </ul>
          </dd>
        </dl>
      </li>
    </ul><!--}}}-->

    <div class="search-form"><!--{{{-->
      <form action="http://www.wholesalerun.com/index.php?main_page=advanced_search_result" id="quick_find_header" method="get" name="quick_find_header">
        <div>
          <input name="main_page" type="hidden" value="advanced_search_result" /><input name="search_in_description" type="hidden" value="1" /><input class="input1" maxlength="60" name="keyword" onblur="if (this.value == '') this.value = 'Enter search keywords here';" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" size="6" style="width: 188px" type="text" value="Enter search keywords here" /><input alt="Search" src="includes/templates/classic/buttons/english/search.gif" title=" Search " type="image" />
        </div>
      </form>
    </div><br /><!--}}}-->

    <div class="uniHCbot"><!--{{{-->
      <p id="uniHotCates"><a class="red" href="http://www.wholesalerun.com/specials" title="WholesaleRun Deals - WholesaleRun's Specials">Deals</a> <span class="seprator">|</span> <a href="http://www.wholesalerun.com/products_new" title="New Arrival Designers on WholesaleRun.COM">New Arrivals</a> <span class="seprator">|</span> <a href="http://www.wholesalerun.com/site_map" title="Wholesale Run Site Map - WholesaleRun.COM">WholesaleRun's Site Map</a></p>
    </div><!--}}}-->
  </div>
</div><!--}}}-->
