<div class="cart-add">
  <% if(product.stock_items.first.count_on_hand) == 0 %>
    <div class="sold-out">
      <%= image_tag "store/buttons/button_sold_out.gif", alt: "Sold Out", title: "Sold Out" %>
    </div>
  <% else %>
    <div id="cart-form" data-hook="cart_form">
      <%= render :partial => 'cart_form' %>
    </div>
  <% end %>
</div>
