<% if products and products.any? %>
  <div id="similar_product">
    <span class="box-heading">Customers who bought this product also bought:</span>
  
    <% products.each do |product| %>
      <div class="related-items">
        <div class="related-image">
          <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => "url" %>
        </div>
        <br />
        <%= link_to truncate(product.name, :length => 30), product, :itemprop => "name" %>
        <strong id="cell_price0"><%= Spree::Money.new(product.price).to_s %></strong>
      </div>
    <% end %>
  </div>
<% end %>
