<div class="cols">
  <a href="#" target="_blank">
    <% if product.images.first %>
      <%= link_to product_image(product, :itemprop => "image"), product.images.first.attachment.url(:large),
        :itemprop => "image", :class => "gallery", :title => product.name  %>
      <br />
    <% end %>
  </a>
</div>
<% if product.images.count > 1 %>
<div>
  <ul class="mini-gal">
    <% product.images.each_with_index do |image, index| %>
      <% if image.attachment && index > 0 %>
        <li>
          <a class="gallery" title="<%= product.name  %>" 
            href="<%= image.attachment.url(:large) %>">
            <%= image_tag image.attachment.url(:mini) %>
          </a>
        </li>    
      <% end %>
    <% end %>
  </ul>
</div>
<% end %>
