<div id="cols" class="col-wide">
  <div class="cols col-half">
    <div class="prod-img" id="productMainImage">
      <%= render :partial => "pop_up_image", :locals => { :product => product } %>
    </div>
  </div>

  <div class="cols prod-desc col-half">
    <h1 class="productGeneral" id="productName"><%= product.name %></h1>

    <h2 class="productGeneral" id="productPrices"><%= number_to_currency(product.cost_price) %></h2>

    <div class="prod-desc-detail">
      <%= (CGI.unescapeHTML product.description).html_safe %>
    </div>

    <ul class="floatingBox back" id="productDetailsList">
      <li><strong>Item Code Number: <%= product.sku %></strong></li>
      <li><span class="text-larger text-blue"><%= product.stock_items.first.count_on_hand %> Units in Stock</span></li>
    </ul><br class="clearBoth" />

    <%= render :partial => "add_to_cart", :locals => { :product => product } %>
    <br class="clearBoth" />
  </div>
</div>
<div id="prod-name">
  <p><%= product.name %></p> 
</div>
