<!-- product/shared_tbd/head.html -->

<!-- product/shared_tbd/banners.html -->

<!-- product/shared_tbd/nav_search_form_etc.html -->

<!-- product/shared_tbd/breadcrumb.html -->

<div class="cols col-wide center-col">
  <!-- product/shared_tbd/nav_left_table.html -->

  <%= render :partial => "product_details", :locals => { :product => @product } %>
  <!--bof Additional Product Images -->
   <!--eof Additional Product Images -->

   <%= render :partial => 'also_bought', :locals => { :products => @also_bought } %>

  <!-- product/shared/related_categories.html -->
</div>

<!-- footer_nav.html -->

<% content_for :scripts do %>
  <script>
    $(document).ready(function() {
        $('.gallery').colorbox({ rel: 'gallery', slideshow: true });
    });
  </script>
<% end %>
