<div class="main_banners">
  <div id="slider">
    <ul><!--{{{-->
      <li>
        <a href="http://www.wholesalerun.com/coach-handbags-c-5" title="wholesale coach handbags, cheap coach handbags"><img alt="wholesale cheap coach purses" src="images/banners/coach-handbags-w518.jpg"></a>
      </li>

      <li>
        <a href="http://www.wholesalerun.com/louis-vuitton-handbags-c-10" title="cheap louis vuitton handbags"><img alt="cheap louis vuitton handbags" src="images/banners/cheap-louis-vuitton-handbags-w518.jpg"></a>
      </li>
    </ul><!--}}}-->
  </div>
  <script type="text/javascript"><!--{{{-->
    $(document).ready(function(){   
          $("#slider").easySlider({
                  auto: true, 
                  continuous: true,
                  numeric: true,
                  firstShow : true,
                  lastShow : true,
                  controlsShow: true,
                  speed: 500,
                  pause: 3000
          });
    });     
  </script><!--}}}-->
</div>
