<div id="whyBuyFromUs" class="w-whyBuyFromUs widget clearfix"><!--{{{-->
  <h2>Why Import & Wholesale from WholesaleRun?</h2>
  <dl class="bestMerchandise"> 
    <dt>
      The Best Wholesale Designer Stock</dt> 
      <dd>As your one-stop online store, we supply thousands of high-quality 
      <u>brand designer clothing</u>, 
      <u>replica designer shoes</u>, 
      <u>knock off designer handbags</u>, 
      <u>stylish purses & wallets</u>, and more, all at exceptional prices, and with 
      <a href="http://www.wholesalerun.com/free_shipping" title="how to get free shipping on WholesaleRun">Condition Free Shipping</a>
      ! Experience professional service and buy quality made-in-China designer products today.
    </dd> 
  </dl> 
  <dl class="freeShipping"> 
    <dt>Free Shipping - No Minimum Orders</dt> 
    <dd>Get your name brand designer products shipped free of charge with small minimum order requirements!   You can now buy cool fashion stuff at great low prices with no additional costs! Browse our huge range of gadgets now and see for yourself.</dd> 
  </dl> 
  <dl class="easyOrders"> 
    <dt>Easy to Order Designer</dt> 
    <dd>Ordering from WholesaleRun, the super fashion store, is easy -  register a free account and you're ready to shop! We accept major credit and debit cards. Get started today and go fashion crazy!</dd> 
  </dl> 
  <br class="clear" /> 
  <dl class="freeJoin"> 
    <dt>Free Join to Wholesale</dt> 
    <dd>Registering only takes seconds and is free, after which you'll have your own brand-new shopping cart to fill with all the clothing, bags, shoes, accessories... you want! All you need to get started is a valid email address. Start buying online and grab quality knock off designers today!
    <p>&nbsp;</p>
    <button class="btn btn-success btn-mini" onclick="window.location.href='http://www.wholesalerun.com/create_account'">Join Now</button> </dd>
  </dl> 
  <dl class="freeDelivery"> 
    <dt>Simple Free Shipping Rules</dt> 
    <dd>WholesaleRun's Free Shipping is straightforward and hassle-free.  Place your order following the free shipping rules, make a payment, and your fashion designers will arrive within 5-15 days once shipped. Order your designer products today!</dd> 
  </dl> 
  <dl class="secure"> 
    <dt>Secure Online Shopping</dt> 
    <dd>Security is a top priority at WholesaleRun website.  We ensure the security of all transaction data by using advanced security solution provider VeriSign, so your information is in excellent hands. Buying top qaulity replica designers has never been safer and easier.</dd> 
  </dl>
</div><!--}}}-->
