/*
 = require store/spree_frontend
*/

/*GENERAL STYLES*/

body { font-family: Verdana,Geneva,sans-serif !important; color: #666666; }

#content { width: 755px; }
#left { width: 200px; }
#footer { border-top: 2px solid #1C6CBE; }

button[type="submit"], button { background-color: #CF0933; }
a.button:hover, button[type="submit"]:hover, button:hover { background-color: #404042; }
a.button, input[type="submit"], input[type="submit"]:hover { background-color: #CF0933; /*color: transparent; border: none;*/ }

ul, li { list-style: none outside none; }

.nav-head-block { display: inline-block; vertical-align: top; }

.first-block { margin: 10px 0 0 0; }

.middle-block { width: 45%; margin-top: 0px; }

.last-block { float: right; }

.mini-nav { margin: 10px 5px;  padding-top: 0; }
.mini-nav a { color: #000000; }

.search-form { margin: 12px 5px; }
.search-form input.input1 { padding: 0 0 0 5px; }
.search-form input.btn-search { padding: 0; margin-top: 1px; height: 16px; width: 50px; }

.full { width: 100%; display: block; padding-top: 15px; }

.cols { display: inline-block; }
ul.cols { list-style-type: circle; width: 24%; margin: 0px !important; vertical-align: top; }
ul.cols a { color: #000000; font-size: 11px; }

.centered { text-align: center; }

.bt-grey { border-top: 1px solid #E0E3E4; }

.txt-small { font-size: 11px; }

div.center-col { padding: 4px 4px; margin-left: 20px; }

/*LEFT NAVIGATION*/

.nav-heading { padding: 5px 0; margin-bottom: 5px; border-bottom: 2px solid #1C6CBE; }
ul.outer { margin-left: 10px; }
ul.outer li { line-height: 17px; font-size: 11px; }
ul.outer li a { color: #003366; }
ul.inner { margin-left: 20px; }
ul.inner li { line-height: 17px; }
ul.inner li a { color: #003366; }

/*BREADCRUMB*/

#breadcrumb { display: block; border-bottom: 2px solid #DDDDDD; padding: 5px; }
#breadcrumb ul { text-align: left; display: inline-block; margin-bottom: -6px; }
#breadcrumb ul li { float: left; position: relative; }
#breadcrumb li, #breadcrumb a { height: 29px; line-height: 28px; text-decoration: none; color: #0076C1; }
#breadcrumb li a { padding: 0 0 0 12px; }
#breadcrumb ul li i { height: 27px; line-height: 26px; position: absolute; right: -8px; top: 1px; width: 9px; z-index: 20; background-position: 0 -34px; }
#breadcrumb ul li i, #breadcrumb .home .first span, #breadcrumb .last a { background-image: image-url('store/icons/main-breadcrumb_lang.png'); }
#breadcrumb .home span { background-position: 1px 2px; float: left; height: 17px; margin-top: 4px; overflow: hidden; width: 16px; }
span.wide { height: 15px;  vertical-align: middle; width: 17px; display: inline-block; }
#breadcrumb .last a { background-position: 0 -61px; display: inline-block; color: #FFFFFF; text-shadow: 0 1px 0 #666666; } 
#breadcrumb .last i { background-position: -25px -37px; }

#denesh-test { color: #268bd2; }

.imgLink { display: inline-block; margin-left: 30%; color: #404042; }

.mini-gal li { float: left; padding: 10px; }

/*HOME PAGE*/

h1.grey { color: #999999; font-size: 12px; }

.content div { display: inline-block; }

.top-content div { float: left; }
.top-content .left { width: 530px; }
/*.top-content .right { float: right; }*/

.grey-bord { border: 2px solid #dddddd; }
.grey-bord-bot { border-bottom: 1px solid #dddddd; }
.grey-bord-bot-thick { border-bottom: 2px solid #dddddd; }

/*CAROUSEL*/

/*NEWS BOX*/

.news-box { width: 190px; }
.news-box .news-list { text-align: center; padding: 3px; }
.news-box ul li { color: #666666; }
.news-box ul li a { color: #2b2b2b; text-decoration: none; }

/*RECENTLY DESIGNED*/

.recent-des { margin-top: -9px; }
.recent-des ul { background: none repeat scroll 0 0 #F6FCFF !important; font-size: 11px; padding: 5px; margin-bottom: 0; }
.recent-des ul li { display: inline-block; width: 32%; line-height: 17px;  height: 40px; }
.recent-des .heading { display: block; padding: 5px; }

/*HOT KEYWORDS*/

.hot-keys li { float: left; padding: 10px 10px 11px 0; width: 352px; }
.hot-keys li h3 { color: #333333; font-family: verdana, ariel, helvetica, sans-serif; font-size: 12px; padding: 0; font-weight: normal; margin: 0; line-height: 10px; padding: 0 0 5px; }
.hot-keys li h3 a { color: #333333; font-size: 12px; padding: 3px 5px; text-decoration: none; }
.hot-keys li dl { font-size: 10px; height: 16px; line-height: 15px; overflow: hidden; }
.hot-keys li dl dt { clear: left; float: left; font-weight: bold; height: 19px; width: 76px; padding: 0 5px; }
.hot-keys li dl dt a { color: #0076C1; font-weight: bold; margin-left: 0; padding-right: 2px; }
.hot-keys li dl dd { float: left; margin: 0; height: 19px; width: 115px; padding: 0; }
.hot-keys li dl dd a { color: #003366; }
.hot-keys a { padding: 3px 5px; text-decoration: none; }

/*FEATURED*/

.featured h2 { height: 30px; margin-bottom: 10px; }
.featured h2 a { color: #163e4d; font-size: 10px; }
.f-item { width: 32%; display: inline-block; text-align: center; font-size: 10px; margin-bottom: 10px; }
.f-item a { color: #2b2b2b; text-decoration: none; }

/*WHY BUY*/

#why_buy { color: #666666; font-size: 11px; margin: 0 auto; width: 100%; } 
#why_buy h2 { color: #996600; font: 18px georgia; height: 45px; margin-bottom: 20px; text-align: center; background-image: image-url("store/home/foot-top-bg.png"); background-repeat: no-repeat; padding-top: 14px; }
#why_buy dl { display: inline-block; width: 32%; vertical-align: top; }
#why_buy dl dt, #why_buy dl dd { width: 100%; }

/*MAIN DESIGNERS*/

.left-cont { margin: 0 0 15px; }
.sidebox-header-left { border-bottom: 2px solid #0076C1; margin-bottom: 5px; }
#categories { width: 200px; }
#categories span { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); color: #000000; }
span.leftBoxHeading, span.leftBoxHeading a { color: #163E4D; display: block; font-size: 1em; font-weight: bold; }
.leftBoxHeading, .centerBoxHeading { margin: 0; padding: 0.5em 0.2em; }

#dsav { overflow: hidden; }
ul, li { list-style: none outside none; }
#dsav ul li { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 0 none; }
#dsav ul li a { color: #003366; display: inline-block; font-size: 11px; height: 19px; padding-left: 8px; padding-top: 5px; text-decoration: none; white-space: nowrap; }
#dsav ul li a:hover { background: none repeat scroll 0 0 #DBF3FF; }
#dsav a.top-cat { font-weight: bold; }
#dsav .inner { margin-left: 15px; }

/*BESTSELLERS*/

.sideBoxContent { background-color: #FFFFFF; padding: 0.4em; }

#bestsellers ol { padding: 0 }
#bestsellers ol li { height: 80px; margin-top: 15px; }

ol.bestsellers li { height: 80px; margin-top: 15px; }
ol.bestsellers li.seperator { border-bottom: 2px solid #dddddd; }
.best_sort { float: left; width: 10px; }
.best_left { float: left; overflow: hidden; width: 60px; }
.best_right { float: left; height: 80px; margin-left: 5px; overflow: hidden; width: 123px; }
#bestsellersContent div .best_price, #whatsnew div .best_price { color: #CC0000; font-size: 14px; margin-top: 3px; }

/*PRODUCT PAGE*/

.prod_img { display: inline-block; }

.col-wide { width: 735px; }
.col-half { width: 49%; }

.min-nav-list { 
  padding-top: 30px; 

  p { margin-top: 0px; }
}

.prod-img { margin: 20px; }
.prod-desc { vertical-align: top; padding-top: 20px; }
.prod-desc-detail { 
   padding: 20px 0 20px 0; 

   p {
     padding: 0px;
   }
 }

#prod-name { 
  background: none repeat scroll 0 0 #EEEEEE; 
  padding-left: 20px; font-size: 13px; 
}

.sold-out { padding-top: 30px; text-align: center; }
.cart-add { border-top: 2px solid #EEEEEE; }

/*RELATED*/

span.box-heading { border-bottom: 1px solid #DDDDDD; color: #162E4D; display: block; font-size: 11px; margin: 0; padding: 5px 2px; }
span.box-heading a { color: #162E4D; font-size: 11px; font-weight: bold; }

.related-items { float: left; margin: 10px 0; height: 123px; text-align: center; vertical-align: top; width: 33.33%; }
.related-items a { color: #2B2B2B; text-decoration: none; }
.related-items strong { font-style: bold; }
.related-items .related-image { height: 90px; }

/*OVERRIDES*/

p.override { padding: 0; }

/*MAIN PRODUCT*/
h1.productGeneral { margin-top: 0; }
h2.main-title { border-bottom: 2px solid #DDDDDD; font-size: 18px; line-height: 27px; }
.blue { color: #0076C1; }
#main-product { margin: 25px 0 0 0; border-bottom: 2px solid #0076C1; padding-bottom: 20px; }
#main-product .small { width: 323px; }
#main-product .main-prod-right { margin-left: 60px; }

/*TEXT*/
.text-larger { font-size: 14px; font-weight: bold; }
.text-blue { color: #00ADEE; }

.flash { background-color: #CF0933; }
 
/*CAROUSEL*/
.carousel-wrapper { margin: 40px 0; width: 518px; }
.jcarousel { overflow: hidden; width: 100%; height: 205px; }
.jcarousel ul { width: 1036px; position: relative; }
.jcarousel li { float: left; width: 518px; }

/*SEARCH*/
ul#products, .pagination { margin: 9px 20px; }
.search-results-title { border-bottom: 2px solid #D9D9DB; margin: 9px 0 9px 20px; }
ul#products li .product-image { border: none; }

/*CHECKOUT*/
input#order_coupon_code { display: none; }
#update-cart { margin: 20px 0; }

#content-large { margin: 20px 0; }
