<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:listing_brands) %>
<% end %>

<% content_for :page_actions do %>
  <ul class="actions inline-menu">
    <li>
      <%= button_link_to Spree.t(:new_brand), new_object_url, { :icon => 'icon-plus', :id => 'admin_new_brand' } %>
    </li>
  </ul>
<% end %>

<table class="index" id='listing_brands' data-hook>
  <colgroup>
    <col style="width: 85%" />
    <col style="width: 15%" />
  </colgroup>
  <thead>
    <tr data-hook="tax_header">
      <th><%= Spree.t(:brand) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @collection.each do |product_brand| %>
      <tr id="<%= spree_dom_id product_brand %>" data-hook="product_brand_row" class="<%= cycle('odd', 'even')%>">
        <td><%= product_brand.name %></td>
        <td class="actions">
          <%= link_to_edit product_brand, :no_text => true %>
          <%= link_to_delete product_brand, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
