<div>
  <div class="recento">
    <span class="centerBoxHeading">Recent Designer Products Ordered:</span>

    <ul style="margin-top: 0px;"><!--{{{-->
      <li style="display: list-item;">
        <p>Chanel Handbags 888-1 Apricot<br>
        Ship to Massachusetts, United States</p>
      </li>

      <li style="display: list-item;">
        <p>Chanel Handbags 888-1 Apricot<br>
        Ship to Massachusetts, United States</p>
      </li>

      <li style="display: list-item;">
        <p>Chanel Handbags 888-1 Apricot<br>
        Ship to Massachusetts, United States</p>
      </li>

      <li style="display: list-item;">
        <p>Chanel Handbags 888-1 Apricot<br>
        Ship to Massachusetts, United States</p>
      </li>

      <li style="display: list-item;">
        <p>Michael Kors Handbags 22229<br>
        Ship to Illinois, United States</p>
      </li>

      <li style="display: list-item;">
        <p>Prada Handbags 10071<br>
        Ship to Florida, United States</p>
      </li>

      <li style="display: list-item;">
        <p>LV Handbags 2551<br>
        Ship to Virginia, United States</p>
      </li>

      <li style="display: list-item;">
        <p>Coach Handbags 29220<br>
        Ship to Idaho, United States</p>
      </li>

      <li style="display: list-item;">
        <p>Rolex Watches 10102<br>
        Ship to Florida, United States</p>
      </li>

      <li style="display: list-item;">
        <p>Gucci Wallets 6607<br>
        Ship to New South Wales, Australia</p>
      </li>

      <li style="display: list-item;">
        <p>Gucci Wallets 6607<br>
        Ship to New South Wales, Australia</p>
      </li>

      <li style="display: list-item;">
        <p>Coach Handbags 39298<br>
        Ship to Louisiana, United States</p>
      </li>

      <li style="list-style: none"><br class="clearBoth"></li>
    </ul><!--}}}-->
  </div><br class="clearBoth">
</div><br class="clearBoth">
