<div class="homepage_news_box">
  <div class="sideBoxContent centeredContent" id="NewsList">
    <ul>
      <li class="item"><span class="news_title"><a href="http://www.wholesalerun.com/news/c_id/1/chapter_id/6" title="International Shipping Fee Rise In Price">International Shipping Fee Rise In Price</a></span> - <span class="news_add_date">2013-10-24</span><b class="icons"></b></li>

      <li class="item"><span class="news_title"><a href="http://www.wholesalerun.com/news/c_id/1/chapter_id/5" title="2013 Autumn &amp; Winter Apparels Coming Now">2013 Autumn &amp; Winter Apparels Coming Now</a></span> - <span class="news_add_date">2013-10-13</span><b class="icons"></b></li>

      <li class="item"><span class="news_title"><a href="http://www.wholesalerun.com/news/c_id/1/chapter_id/4" title="2013 National Day Notice">2013 National Day Notice</a></span> - <span class="news_add_date">2013-10-04</span><b class="icons"></b></li>

      <li class="item"><span class="news_title"><a href="http://www.wholesalerun.com/news/c_id/1/chapter_id/3" title="Mode Creation Munich(MCM) Handbags Coming">Mode Creation Munich(MCM) Handbags Coming</a></span> - <span class="news_add_date">2013-09-14</span><b class="icons"></b></li>

      <li class="item"><span class="news_title"><a href="http://www.wholesalerun.com/news/c_id/2/chapter_id/2" title="Coach Purses Specials - 29.99 USD Directly 30 Days Limit">Coach Purses Specials - 29.99 USD Directly 30 Days Limit</a></span> - <span class="news_add_date">2013-09-13</span><b class="icons"></b></li>

      <li class="item"><span class="news_title"><a href="http://www.wholesalerun.com/news/c_id/1/chapter_id/1" title="Get Cheap Michael Kors Handbags Up to 70% Discount Off">Get Cheap Michael Kors Handbags Up to 70% Discount Off</a></span> - <span class="news_add_date">2013-08-13</span><b class="icons"></b></li>
    </ul>
  </div>
</div>
