<div class="center-col">
  <div class="content"><%#{{{%>
    <div class="top-content"><%#{{{%>
      <%= render :partial => 'spree/shared/main_product', :locals => { :product => @main_product } %>
    </div><%#}}}%>
  </div><%#}}}%>
  <div class="feat-content">
    <%= render :partial => 'spree/shared/top_six_products_large', :locals => { :products => @top_six_products,
                                                                              :category => @category } %>
  </div>
</div>
