<div data-hook="admin_product_category_form_fields" class="row">
  <div class="alpha four columns">
    <div data-hook="name" class="field">
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, :class => 'fullwidth' %>
    </div>
    <div data-hook="parent" class="field">
      <%= f.label :parent, Spree.t(:parent_category) %>
      <% options = { :class => 'fullwidth select2' } %>
      <% options.merge!({ :disabled => true }) if @dropdown_disabled %> 
      <%= f.select :parent_id, options_from_collection_for_select(@parents, "id", "name"), { :include_blank => 'Make Parent' }, options %>
    </div>
  </div>
</div>
