<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:listing_categories) %>
<% end %>

<% content_for :page_actions do %>
  <ul class="actions inline-menu">
    <li>
      <%= button_link_to Spree.t(:new_category), new_object_url, { :icon => 'icon-plus', :id => 'admin_new_category' } %>
    </li>
  </ul>
<% end %>

<table class="index" id='listing_brands' data-hook>
  <colgroup>
    <col style="width: 10%" />
    <col style="width: 75%" />
    <col style="width: 15%" />
  </colgroup>
  <thead>
    <tr data-hook="tax_header">
      <th><%= Spree.t(:parent) %></th>
      <th><%= Spree.t(:category) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @parents.each do |parent| %>
      <tr id="<%= spree_dom_id parent %>" data-hook="category_row" class="<%= cycle('odd', 'even')%>">
        <td style="text-align:center;">✓</td>
        <td><%= parent.name %></td>
        <td class="actions">
          <%= link_to_edit parent, :no_text => true %>
          <%= link_to_delete parent, :no_text => true %>
        </td>
      </tr>
      <% parent.subcategories.each do |subcategory| %>
        <tr id="<%= spree_dom_id subcategory %>" data-hook="category_row" class="<%= cycle('odd', 'even')%>">
          <td></td>
          <td><%= subcategory.name %></td>
          <td class="actions">
            <%= link_to_edit subcategory, :no_text => true %>
            <%= link_to_delete subcategory, :no_text => true %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
