<div id="footer"><!--{{{-->
  <div class="alignL" id="siteinfo">
    <ul>
      <span class="f14 fb c33">Most Popular:</span>
      <li><a href="http://www.wholesalerun.com/handbags-c-2" title="wholesale knock off designer bags, cheap wholesale designer handbags">Knock off Designer Bags</a> </li>
      <li><a href="http://www.wholesalerun.com/fashion-shoes-c-308" title="wholesale designer shoes, replica designer shoes">Designer Shoes</a> </li>
      <li><a href="http://www.wholesalerun.com/sunglasses-c-47" title="wholesale designer sunglasses from china, designer sunglasses free shipping">Designer Sunglasses from China</a> </li>
    </ul>
    <ul>
      <span class="f14 fb c33">Customer Service </span>
      <li><a href="http://www.wholesalerun.com/site_map" title="WholesaleRun's Site Map">Site Map</a></li>
      <li><a rel="nofollow" href="http://www.wholesalerun.com/contact_us" title="Contact WholesaleRun">Contact Us</a></li>
      <li><a rel="nofollow" href="http://www.wholesalerun.com/account" title="My WholesaleRun's Account">My Account</a> </li>
    </ul>
    <ul>
      <span class="f14 fb c33">Payment</span>
      <li><a rel="nofollow" href="http://www.wholesalerun.com/index.php?main_page=payment_method" title="Supported Payment Methods on WholesaleRun">Payment Methods</a> </li>
    </ul>
    <ul>
      <span class="f14 fb c33">Company Policies </span>
      <li><a rel="nofollow" href="http://www.wholesalerun.com/shippinginfo" title="Our Shipping and Return Policy">Shipping & Returns</a> </li>
      <li><a rel="nofollow" href="http://www.wholesalerun.com/privacy" title="Our Privacy Policy">Privacy Policy</a> </li>
    </ul>
  </div>
  <div class="copyright f11">
    <p>We offer:replica designer handbags, cheap designer purses, imitation brand bags, knockoff designer shoes and clothing. Finding fake designer handbags, fake designer shoes, fake designer clothing from China? WholesaleRun is the best place for you! Enjoy the cheapest price and best service on WholesaleRun.COM now!</p>
    <p>
      <a href="http://www.wholesalerun.com/" title="wholesale designer handbags">Wholesale Designer Handbags</a> | 
      <a href="http://www.wholesalerun.com/" title="Cheap Designer Handbags">Cheap Designer Handbags</a> | 
      <a href="http://www.wholesalerun.com/" title="wholesale designer Shoes">Wholesale Designer Shoes</a> | 
      <a href="http://www.wholesalerun.com/" title="wholesale designer clothing">Wholesale Designer Clothing</a>
    </p>
    <p class="site_copyright">&copy; 1999 - 2013 <a href="http://www.wholesalerun.com/" target="_blank" title="WholesaleRun - Designer Clothing,Designer Shoes,Designer Bags">WholesaleRun</a></p>
  </div>
</div><!--}}}-->
