<div id="footer">
  <div class="alignL" id="siteinfo"><!--{{{-->
    <ul><!--{{{-->
      <li style="list-style: none"><span class="f14 fb c33">Most Popular:</span></li>

      <li>
        <a href="http://www.wholesalerun.com/handbags-c-2" title="wholesale knock off designer bags, cheap wholesale designer handbags">Knock off Designer Bags</a>
      </li>

      <li>
        <a href="http://www.wholesalerun.com/fashion-shoes-c-308" title="wholesale designer shoes, replica designer shoes">Designer Shoes</a>
      </li>

      <li>
        <a href="http://www.wholesalerun.com/sunglasses-c-47" title="wholesale designer sunglasses from china, designer sunglasses free shipping">Designer Sunglasses from China</a>
      </li>
    </ul><!--}}}-->

    <ul><!--{{{-->
      <li style="list-style: none"><span class="f14 fb c33">Customer Service</span></li>

      <li>
        <a href="http://www.wholesalerun.com/site_map" title="WholesaleRun's Site Map">Site Map</a>
      </li>

      <li>
        <a href="http://www.wholesalerun.com/contact_us" rel="nofollow" title="Contact WholesaleRun">Contact Us</a>
      </li>

      <li>
        <a href="http://www.wholesalerun.com/account" rel="nofollow" title="My WholesaleRun's Account">My Account</a>
      </li>
    </ul><!--}}}-->

    <ul><!--{{{-->
      <li style="list-style: none"><span class="f14 fb c33">Payment</span></li>

      <li>
        <a href="http://www.wholesalerun.com/index.php?main_page=payment_method" rel="nofollow" title="Supported Payment Methods on WholesaleRun">Payment Methods</a>
      </li>
    </ul><!--}}}-->

    <ul><!--{{{-->
      <li style="list-style: none"><span class="f14 fb c33">Company Policies</span></li>

      <li>
        <a href="http://www.wholesalerun.com/shippinginfo" rel="nofollow" title="Our Shipping and Return Policy">Shipping &amp; Returns</a>
      </li>

      <li>
        <a href="http://www.wholesalerun.com/privacy" rel="nofollow" title="Our Privacy Policy">Privacy Policy</a>
      </li>
    </ul><!--}}}-->
  </div><!--}}}-->
  
  <!-- payment_copyright.html -->
</div>
