<div> <!--{{{-->
  <a id="logo" href="http://www.wholesalerun.com/">
    <img src="includes/templates/classic/images/logo.gif" alt="WholesaleRun" title=" WholesaleRun " width="208" height="50" />
    <span>WholesaleRun</span>
  </a> 
</div><!--}}}-->
