<div class="search-form"><!--{{{-->
  <form name="quick_find_header" action="http://www.wholesalerun.com/index.php?main_page=advanced_search_result" method="get">
    <div>
      <input type="hidden" name="main_page" value="advanced_search_result" />
      <input type="hidden" name="search_in_description" value="1" />
      <input type="text" name="keyword" size="6" maxlength="60" style="width: 188px" class="input1" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" />
      <input type="image" src="includes/templates/classic/buttons/english/search.gif" alt="Search" title=" Search " />
    </div>
  </form>      
</div><!--}}}-->
