<div class="mini-nav">
  <% if spree_user_signed_in? %>
    <%= link_to("Log out", "/logout") %>
  <% else %>
    <a href="/login">Log In</a>
  <% end %>
  <% if @is_admin %>
    <span>|</span>
    <%= link_to("Administration", "/admin") %>
  <% end %>
</div>
