<% if @show_bestsellers && @bestsellers.any? %>
  <div class="left-cont" id="bestsellers">
    <div class="sidebox-header-left">
      <span class="leftBoxHeading" id="bestsellersHeading">Bestsellers</span>
    </div>

    <div class="side-box-cont" id="bestsellersContent">
      <div class="wrapper">
        <ol class="bestsellers">
          <% @bestsellers.each_with_index do |bestseller, index| %>
            <li class="<%= (bestseller == @bestsellers.last) ? '' : 'seperator' %>">
              <div class="best_sort" style="font-style: italic">
                <%= index + 1  %>
              </div>
              <div class="best_left">
              <%= link_to mini_image(bestseller, :itemprop => "image"), bestseller, :itemprop => 'url' %>
              </div>
              <div class="best_right">
                <%= link_to truncate(bestseller.name, :lenght => 50), bestseller, 
                  :itemprop => "name", :title => bestseller.name %>
                <div class="best_price"><%= Spree::Money.new(bestseller.price).to_s %></div>
              </div>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
<% end %>
