<div id="breadcrumb">
  <% if @breadcrumb_items %>
    <ul>
      <li class="home">
        <a class="first">
          <span></span>
          <i></i>
        </a>
      </li>
      <% @breadcrumb_items.each do |item| %>
        <li>
          <% if item == @breadcrumb_items.last %>
            <%= link_to item.name, controller.send(item.url_method, item.object), :class => "last" %>
          <% else %>
            <%= link_to item.name, controller.send(item.url_method, item.object) %>
            <i></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
