 <div class="widget uniHCtop" id="uniUtility">
   <div id="topNavWrapper">

     <ul class="topNavLeft" >
     	<li class="float-left home">
     		<a class="strong" href="http://www.wholesalerun.com/">&nbsp;</a>
     	</li>
     	<li class="float-left currencies">
     	  <form name="currencies_form" action="http://www.wholesalerun.com/" method="get">
           <a class="current strong btn btn-mini dropdown-toggle" href="javascript:WHOLESALERUN.header_top_nav.update_currency('USD');"> $USD
             <span class="caret"></span>
           </a>
           <div class="menus dropdown-menu">
             <a class="no-repeat" href="javascript:WHOLESALERUN.header_top_nav.update_currency('CNY');">元&nbsp;&nbsp;CNY</a>
             <a class="no-repeat" href="javascript:WHOLESALERUN.header_top_nav.update_currency('EUR');">&euro;&nbsp;&nbsp;EUR</a>
             <a class="no-repeat" href="javascript:WHOLESALERUN.header_top_nav.update_currency('GBP');">&pound;&nbsp;&nbsp;GBP</a>
             <a class="no-repeat" href="javascript:WHOLESALERUN.header_top_nav.update_currency('CAD');">$&nbsp;&nbsp;CAD</a>
             <a class="no-repeat" href="javascript:WHOLESALERUN.header_top_nav.update_currency('AUD');">$&nbsp;&nbsp;AUD</a>
           </div>
           <input type="hidden" name="language" value="en" />
           <input type="hidden" name="main_page" value="index" />
           <input type="hidden" name="currency" />
         </form>	
     	</li>
     </ul>


     <br class="clearBoth" />
  </div>
</div>

