<div id="footer">
  <div class="full">
    <ul class="cols">
      <span>Most Popular:</span>
      <li><%= link_to "Knock off Designer Bags", "category/handbag" %></li>
      <li><%= link_to "Designer Shoes", "category/shoes" %></li>
      <li><%= link_to "Designer Sunglasses from China", "category/sunglasses" %></li>
    </ul>
    <ul class="cols">
      <span>Customer Service </span>
      <li><%= link_to "Site Map", "#" %></li>
      <li><%= link_to "Contact Us", "#" %></li>
      <li><%= link_to "My Account", "#" %></li>
    </ul>
    <ul class="cols">
      <span>Payment</span>
      <li><%= link_to "Payment Methods", "#" %></li>
    </ul>
    <ul class="cols">
      <span>Company Policies </span>
      <li><%= link_to "Shipping & Returns", "#" %></li>
      <li><%= link_to "Privacy Policy", "#" %></li>
    </ul>
  </div>
  <div>
  <p class="bt-grey txt-small">
  We offer:replica designer handbags, cheap designer purses, imitation brand bags, knockoff designer shoes and clothing. Finding fake designer handbags, fake designer shoes, fake designer clothing from China? CheapNewultraBag is the best place for you! Enjoy the cheapest price and best service on CheapNewultraBag.COM now!
  </p>
  <div class="centered">
    <div class="mini-nav">
      <%= link_to "Wholesale Designer Handbags", root_path %>
      <span class="seperator">|</span>
      <%= link_to "Cheap Designer Handbags", root_path %>
      <span class="seperator">|</span>
      <%= link_to "Wholesale Designer Shoes", root_path %>
      <span class="seperator">|</span>
      <%= link_to "Wholesale Designer Clothing", root_path %>
    </div>
    <%= image_tag "store/site/footer_secure_bg.jpg", alt: "Payment Methods", title: "Payment Methods" %>
    <p class="site_copyright">
    &copy; 1999 - 2013 
    <%= link_to "Cheap New Ultra Bag", root_path %>
    </p>
  </div>
</div>
