<% if @helper && @helper.show && @helper.categories.any?  %>
  <div class="left-cont" id="categories">
    <div class="sidebox-header-left">
      <span class="leftBoxHeading" id="categoriesHeading">Main
      Designers:</span>
    </div>

    <div id="dsav">
      <ul id="dsmenu">
        <% @helper.categories.each do |category| %>
          <li class="expand">
            <a href="/category/<%= category.name.downcase %>" class="top-cat"><%= category.name %></a>
            <% if category.subcategories.any? && @helper.show_subcategories %>
              <ul class="inner">
                <% category.subcategories.each do |subcategory| %>
                  <li>
                    <a href="/category/<%= subcategory.name.downcase %>"><%= subcategory.name %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
