<% if product %>
  <h2 class="main-title"><span class="blue">Featured Product:</span> <%= product.name %></h2>
  <div id="main-product">
    <div class="small">
      <%= link_to product_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
    </div>
    <div class="small main-prod-right">
        <strong>Brand:</strong> <%= product.product_brand.name %>
        <br />
        <br />
        <strong>Description</strong>
        <br />
        <%= product.description %>
    </div>
  </div>
<% end %>
