<% if @show_nav %>
  <div>
    <div class="nav-heading">
      <strong>Bags</strong>
    </div>
    <ul class="outer">
      <li><%= link_to "Handbags", "#" %></li>
      <li>
        <ul class="inner">
          <li><%= link_to "Balenciaga Handbags", "#" %><span class="grey"> (27)</span></li>
          <li><%= link_to "Burberry Handbags", "#" %><span class="grey"> (27)</span></li>
          <li><%= link_to "Chanel Handbags", "#" %><span class="grey"> (27)</span></li>
          <li><%= link_to "Chloe Handbags", "#" %><span class="grey"> (27)</span></li>
        </ul>
      </li>
    </ul>
  </div>
<% end %>
