<div class="search-form">
  <form name="quick_find_header" action="/products" method="get">
    <div>
      <input type="text" name="keywords" size="6" maxlength="60" style="width: 188px" class="input1" value="Enter search keywords here" onfocus="if (this.value == 'Enter search keywords here') this.value = '';" onblur="if (this.value == '') this.value = 'Enter search keywords here';" />
      <input type="submit" class="btn-search" alt="Search" title="Search" value="Search" />
    </div>
  </form>      
</div>
