<% if products && products.any? %>
  <div class="featured">
    <h2 class="grey-bord-bot">
      <a href="#" title="cheap designer handbags, cheap wholesale handbags featured">
        Cheap <%= category.name %> Featured
      </a>
    </h2>

    <% products.each do |product| %>
      <div class="f-item">
        <%= link_to product_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
        <br />
        <%= link_to truncate(product.name, :length => 50), product, :itemprop => "name", 
          :title => product.name %>
        <br />
        <%= Spree::Money.new(product.price).to_s %>
      </div>
    <% end %>
  </div>
<% end %>

<%#<div class="centerBoxWrapper" id="featuredProducts">[>{{{<]%>
  <%#<h2 class="centerBoxHeading"><a href="#" title="cheap designer shoes, replica designer shoes from china, knock off designer shoes from china">Designer Shoes Featured</a></h2>%>

  <%#<div class="centerBoxContentsFeatured centeredContent back" style="width:100%;">[>{{{<]%>
    <%#<a href="#"><img alt="Womens Gucci Low Shoes 771" height="137" src="p-images/v/tymy-fashion-shoes/gucci-womens-low/771_188x137.jpg" title=" Womens Gucci Low Shoes 771 " width="188"></a><br>%>
    <%#<a href="#">Womens Gucci Low Shoes 771</a><br>%>
    <%#$45.00%>
  <%#</div>[>}}}<]%>
  <%#<br class="clearBoth">%>
<%#</div>[>}}}<]%>
