<div class="carousel-wrapper">
  <div class="jcarousel">
      <ul>
        <li>
          <a href="brand/coach" title="">
            <%= image_tag "store/carousel/coach-handbags-w518.jpg", 
              alt: "wholesale cheap coach purses" %>
          </a>
        </li>
        <li>
          <a href="brand/lv" title="">
            <%= image_tag "store/carousel/cheap-louis-vuitton-handbags-w518.jpg", 
              alt: "cheap louis vuitton handbags"  %>
          </a>
        </li>
      </ul>
  </div>
  <!-- Pagination -->
  <div class="jcarousel-pagination">
    <a class="jcarousel-control-prev inactive" href="#">‹</a>
    <a class="jcarousel-control-next" href="#">›</a>
  </div>
</div>
