<% if @show_hot_keywords && @hk_categories.any? && @hk_brands.any? %>
<div class="hot-keys">
  <ul>
    <% @hk_categories.each do |category| %>
      <li class="grey-bord-bot">
        <h3><a href="#" title="Accessories"><%= category.name %></a></h3>

        <% category.subcategories.each do |subcat| %>
          <dl><%#{{{%>
            <dt>
              <%= link_to subcat.name, subcat %>
            </dt>

            <% @hk_brands.each do |brand|  %>
              <dd>
              <a href="cat_brand/<%= subcat.name.downcase %>/<%= brand.name.downcase %>" 
                title="#{ brand.name } #{ subcat.name }">
                  <%= "#{ brand.name } #{ subcat.name }" %>
                </a>
              </dd>
            <% end %>
          </dl><%#}}}%>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="clear"></div>
</div>
<% end %>
