<div class="news-box grey-bord">
  <div class="news-list">
    <ul>
      <li class="grey-bord-bot">
        <span class="news_title">
          <a href="#" title="International Shipping Fee Rise In Price">International Shipping Fee Rise In Price</a>
        </span> - 
        <span class="news_add_date">2013-10-24</span>
        <b class="icons"></b>
      </li>

      <li class="grey-bord-bot">
        <span class="news_title">
          <a href="#" title="2013 Autumn &amp; Winter Apparels Coming Now">2013 Autumn &amp; Winter Apparels Coming Now</a>
        </span> - 
        <span class="news_add_date">2013-10-13</span>
        <b class="icons"></b>
      </li>

      <li class="grey-bord-bot">
        <span class="news_title">
          <a href="#" title="2013 National Day Notice">2013 National Day Notice</a>
        </span> - 
        <span class="news_add_date">2013-10-04</span>
        <b class="icons"></b>
      </li>

      <li class="grey-bord-bot">
        <span class="news_title">
          <a href="#" title="2013 National Day Notice">2013 National Day Notice</a>
        </span> - 
        <span class="news_add_date">2013-10-04</span>
        <b class="icons"></b>
      </li>

      <li class="grey-bord-bot">
        <span class="news_title">
          <a href="#" title="2013 National Day Notice">2013 National Day Notice</a>
        </span> - 
        <span class="news_add_date">2013-10-04</span>
        <b class="icons"></b>
      </li>

      <li class="grey-bord-bot">
        <span class="news_title">
          <a href="#" title="2013 National Day Notice">2013 National Day Notice</a>
        </span> - 
        <span class="news_add_date">2013-10-04</span>
        <b class="icons"></b>
      </li>

      <li class="grey-bord-bot">
        <span class="news_title">
          <a href="#" title="2013 National Day Notice">2013 National Day Notice</a>
        </span> - 
        <span class="news_add_date">2013-10-04</span>
        <b class="icons"></b>
      </li>
    </ul>
  </div>
</div>
