<% if @show_recently_bought && @recently_bought_products.any? && @states.any? %>
  <div class="recent-des grey-bord">
    <span class="heading grey-bord-bot">Recent Designer Products Ordered:</span>
  
    <ul>
      <% @recently_bought_products.each_with_index do |product, index| %>
        <% state = @states[index] %>
        <li>
         <%= truncate(product.name, length: 40) %><br />
         <%= truncate( "Ship to #{ state.name }, #{ state.country.name }", length: 40) %>
        </li>
      <% end %>
    </ul>
    
  </div>
<% end %>
