<div class="clearfix" id="why_buy">
  <h2>Why Import &amp; Wholesale from WholesaleRun?</h2>

  <dl>
    <dt>The Best Wholesale Designer Stock</dt>

    <dd>As your one-stop online store, we supply thousands of high-quality
    <span style="text-decoration: underline">brand designer clothing</span>,
    <span style="text-decoration: underline">replica designer shoes</span>,
    <span style="text-decoration: underline">knock off designer
    handbags</span>, <span style="text-decoration: underline">stylish purses
    &amp; wallets</span>, and more, all at exceptional prices, and with
    <a href="http://www.wholesalerun.com/free_shipping" title=
    "how to get free shipping on WholesaleRun">Condition Free Shipping</a>!
    Experience professional service and buy quality made-in-China designer
    products today.</dd>
  </dl>

  <dl>
    <dt>Free Shipping - No Minimum Orders</dt>

    <dd>Get your name brand designer products shipped free of charge with
    small minimum order requirements! You can now buy cool fashion stuff at
    great low prices with no additional costs! Browse our huge range of
    gadgets now and see for yourself.</dd>
  </dl>

  <dl>
    <dt>Easy to Order Designer</dt>

    <dd>Ordering from WholesaleRun, the super fashion store, is easy -
    register a free account and you're ready to shop! We accept major credit
    and debit cards. Get started today and go fashion crazy!</dd>
  </dl><br>

  <dl>
    <dt>Free Join to Wholesale</dt>

    <dd>
      Registering only takes seconds and is free, after which you'll have
      your own brand-new shopping cart to fill with all the clothing, bags,
      shoes, accessories... you want! All you need to get started is a valid
      email address. Start buying online and grab quality knock off designers
      today!
    </dd>
  </dl>

  <dl>
    <dt>Simple Free Shipping Rules</dt>

    <dd>WholesaleRun's Free Shipping is straightforward and hassle-free.
    Place your order following the free shipping rules, make a payment, and
    your fashion designers will arrive within 5-15 days once shipped. Order
    your designer products today!</dd>
  </dl>

  <dl>
    <dt>Secure Online Shopping</dt>

    <dd>Security is a top priority at WholesaleRun website. We ensure the
    security of all transaction data by using advanced security solution
    provider VeriSign, so your information is in excellent hands. Buying top
    qaulity replica designers has never been safer and easier.</dd>
  </dl>
</div>
