<div class="center-col">
  <h1 class="grey">WholesaleRun - Wholesale Designer Clothing, Shoes, Bags and Accessories from China</h1>

  <div class="content">
    <div class="top-content"><%#{{{%>
      <div class="left">
        <%= render :partial => 'carousel' %>
        <%#= render :partial => 'banner' %>
      </div>
      <div class="right">
        <%= render :partial => 'news_box' %>
      </div>
    </div><%#}}}%>

    <div>
      <%= render :partial => 'recently_bought' %>
    </div>
  </div>
  <div>
    <%= render :partial => 'hot_keywords' %>
  </div>
  <div class="feat-content">
    <%= render :partial => 'spree/shared/top_six_products_large', :locals => { :products => @top_six_products, 
                                                                  :category => @random_category  } %>
  </div>
</div>

<% content_for :scripts do %>
  <%#= javascript_include_tag "jquery.jcarousel" %>
  <script>
    $(function() {
        var carousel = $('.jcarousel').jcarousel(
          { 
            wrap: 'circular'
          }).jcarouselAutoscroll({
            interval: 3000
          });
        $('.jcarousel-pagination').jcarouselPagination({
            carousel: carousel
        });
    });
  </script>
<% end %>
